<h1>Project Details</h1>
    <h2>Project Performance<span></span></h2>
    <div class="inner-box clearfix">
		<div id="table-full">
			<table cellspacing="0" cellpadding="0" class="Tblprojectdetail">
				<tbody>
					<tr class="header">
						<td>Month</td>
					    <td>Planned Value</td>
						<td>LRE Contract</td>
						<td>LRE PMC</td>
						<td>Contract Index</td>
						<td>CPI</td>
						<td>SPI</td>
                        <td>Action</td>
					</tr>
                    <% @project_performances.each_with_index do |project_performance,index| %>
                        <% if index%2 == 0 %>
                            <tr class="alternate">
                        <% else %>
                            <tr>
                        <% end %>
                            <td><%=h project_performance.month.strftime("%b - %Y") %></td>
						    <td><%=h project_performance.pv %></td>
                            <td><%=h project_performance.lrecontract %></td>
                            <td><%=h project_performance.lrepmc %></td>
                            <td><%=h project_performance.contractindex %></td>
                            <td><%=h project_performance.cpi %></td>
                            <td><%=h project_performance.spi %></td>
                            <td class="actions" projdetid='<%= project_performance.id %>'><%= link_to 'Edit',edit_project_performance_path(project_performance),:class => "edit" %></td>
					    </tr>
                    <% end %>
                   <tr class="new-item">
                        <td colspan="8" class="new">
                            <a href="#" class="edit" id="LnkAddNewProjectDetail">Add new project detail</a>
                        </td>
                    </tr>
                    <% form_for(@project_performance) do |f| %>
                        <% unless flash[:error].nil? %>
                            <tr class="new-item form error new-project-detail">
                              <td colspan="8">
                                <div class="error">
                                    <%= flash[:error] %>
                                </div>
                              </td>
                            </tr>
                        <% end %>
                        <tr class="new-item form new-project-detail">
                            <td class="data-entry" colspan="4">
                                <label>Month</label>
                                <%= f.text_field :month, :class => "medium" %>
                            </td>
                            <td class="data-entry" colspan="4">
                                <label>Planned Value</label>                                
                                <%= f.text_field :pv, :class => "medium" %>
                            </td>
                        </tr>
                        <tr class="new-item form new-project-detail">
                            <td class="data-entry" colspan="4">
                                <label>LRE Contract</label>
                                <%= f.text_field :lrecontract, :class => "medium" %>
                            </td>
                            <td class="data-entry" colspan="4">
                                <label>LRE PMC</label>
                                <%= f.text_field :lrepmc, :class => "medium" %>
                            </td>
                        <tr class="new-item form new-project-detail">
                            <td class="data-entry" colspan="4">
                                <label>Contract Index</label>
                                <%= f.text_field :contractindex, :class => "medium" %>
                            </td>
                            <td class="data-entry" colspan="4">
                                <label>CPI</label>
                                <%= f.text_field :cpi, :class => "medium" %>
                            </td>
                        </tr>
                        <tr class="new-item form new-project-detail">
                            <td class="data-entry" colspan="4">
                                <label>SPI</label>                                
                                <%= f.text_field :spi, :class => "medium" %>
                            </td>
                            <td class="data-entry" colspan="4">
                            </td>
                        </tr>
                        <tr class="new-item form new-project-detail">
        	                <td class="submit" colspan="8">
                                <button>Add project detail</button> or <a href="#" id="CancelAddProjectDetail">Cancel</a>
                            </td>
                        </tr>
                     <% end %>
				</tbody>
			</table>
		</div>
	</div>


    <h2>Milestones<span></span></h2>
    <div class="inner-box clearfix">
		<div id="table-full">
			<table cellspacing="0" cellpadding="0" class="Tblmilstone">
				<tbody>
					<tr class="header">
						<td>Month</td>
					    <td>Build</td>
						<td>Unbuild</td>
						<td>Action</td>
					</tr>
                    <% @milestones.each_with_index do |milestone,index| %>
                        <% if index%2 == 0 %>
                            <tr class="alternate">
                        <% else %>
                            <tr>
                        <% end %>
                            <td><%=h milestone.month.strftime("%b - %Y") %></td>
                            <td><%=h milestone.build %></td>
						    <td><%=h milestone.unbuild  %></td>
                            <td class="actions" mlsid='<%= milestone.id %>'><%= link_to 'Edit',edit_milestone_path(milestone),:class => "edit" %></td>
					    </tr>
                    <% end %>
                   <tr class="new-item">
                        <td colspan="4" class="new">
                            <a href="#" class="edit" id="LnkAddNewMilestone">Add new milestone</a>
                        </td>
                    </tr>
                    <% form_for(@milestone) do |f| %>
                        <% unless flash[:error].nil? %>
                            <tr class="new-item form error new-milestone">
                              <td colspan="4">
                                <div class="error">
                                    <%= flash[:error] %>
                                </div>
                              </td>
                            </tr>
                        <% end %>
                        <tr class="new-item form new-milestone">
                            <td class="data-entry" colspan="2">
                                <label>Month</label>
                                <%= f.text_field :month, :class => "medium" %>
                            </td>
                            <td class="data-entry" colspan="2">
                                <label>Build</label>
                                <%= f.text_field :build, :class => "medium" %>
                            </td>
                        </tr>
                        <tr class="new-item form new-milestone">
                            <td class="data-entry" colspan="2">
                                <label>Unbuild</label>
                                <%= f.text_field :unbuild, :class => "medium" %>
                            </td>
                            <td class="data-entry" colspan="2">
                            </td>
                        <tr class="new-item form new-milestone">
        	                <td class="submit" colspan="4">
                                <button>Add milestone</button> or <a href="#" id="CancelAddMileStone">Cancel</a>
                            </td>
                        </tr>
                     <% end %>
				</tbody>
			</table>
		</div>
	</div>


